.menu_list {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
  width: 100%;
}
.background_clear {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 2px;
}
/* @media only screen and (min-width: 992px) {
  .menu_list {
    font-size: 1em;
  }
} */

.menu_list > li {
  list-style: none;
}

.menu_list > li > div {
  text-decoration: none;
  padding: 2px;
  font-family: 'Roboto', sans-serif;

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.menu_list > li > div:hover {
  background-size: 100% 2px;
  color: blue;
}

.menu_list > li > div {
  color: blue;
}

.menu_list > li > div.active {
  background-size: 100% 2px;
  color: black;
}
