* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.principal-container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.container {
  width: 240px; /* movil*/
}
.svg {
  width: 240px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.extraInfo {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.locationName {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0.5rem;
  color: blue;
  width: 100%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  display:flex;
  justify-content: center;
}
.state {
  font-size: 1em;
  font-weight: bold;
  color:#c45400;
}
.temperature {
  font-size: 2em;
  font-weight: bold;
  color: blue;
}

@keyframes bumping {
  0% { transform: translateX(120px);}
  /* 50% { transform: translateX(300px);} */
  100% { transform: translateX(-480px); }
}

.summary {
  padding: 0.5em;
}

.daily {
  display: flex;
  flex-direction: row;
  animation: bumping 4s linear 0s infinite alternate;

  padding-top: 0.5em;
}
.daily:hover {
  animation-play-state: paused;
}

.time-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}
.time-element img {
  width: 30px;
}

.phases {
  padding: 0.5em;
}
.textInfo{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style:circle;
    list-style-position:inside;
}


.config-box {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 240px; /*movil*/
}

.config-box > h1 {
  position: relative;
  top: -0.7em;
  background: white none repeat scroll 0 0;
  display: inline-block;
  /* margin-left: 0.5em; */
  /* width: 100%; */
}

.config-box > div > input[type=text] {
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3em;
  margin-left: 0.5em;
}

.config-box > div > input[type=range] {
  width: 65px;
}