.title {
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, darkblue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.mention {
  position: absolute;
  top: 100px;
  right: -78px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
